* text=auto !eol
/INSTALL -text svneol=unset#application/octet-stream
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
Smi/AUTHORS -text
Smi/LICENSE -text
Smi/MSVisualStudio/v7/Smi.sln -text
Smi/MSVisualStudio/v7/Smi.suo -text
Smi/MSVisualStudio/v7/exampleSmi/exampleSmi.vcproj -text
Smi/MSVisualStudio/v7/libSmi/smiLib.vcproj -text
Smi/MSVisualStudio/v7/unitTestSmi/smiUnitTest.vcproj -text
Smi/MSVisualStudio/v8/Smi.sln -text
Smi/MSVisualStudio/v8/Smi.suo -text
Smi/MSVisualStudio/v8/libSmi/smiLib.vcproj -text
Smi/MSVisualStudio/v8/unitTestSmi/smiUnitTest.vcproj -text
Smi/MSVisualStudio/v9/Smi.sln -text
Smi/MSVisualStudio/v9/Smi.suo -text
Smi/MSVisualStudio/v9/exampleFlopCpp/exampleFlopCpp.vcproj -text
Smi/MSVisualStudio/v9/exampleSmi/exampleSmi.vcproj -text
Smi/MSVisualStudio/v9/libSmi/smiLib.vcproj -text
Smi/MSVisualStudio/v9/unitTestSmi/bug_gen.mps -text
Smi/MSVisualStudio/v9/unitTestSmi/smiUnitTest.vcproj -text
Smi/Makefile.am -text
Smi/Makefile.in -text
Smi/README -text
Smi/configure -text
Smi/configure.ac -text
Smi/examples/Makefile.in -text
Smi/examples/investment.cpp -text
Smi/examples/stoch.cpp -text
Smi/inc/config_smi.h.in -text
Smi/src/Makefile.am -text
Smi/src/Makefile.in -text
Smi/src/SmiMessage.cpp -text
Smi/src/SmiMessage.hpp -text
Smi/test/Makefile.am -text
Smi/test/Makefile.in -text
Smi/test/app0110.cor -text
Smi/test/app0110.stoch -text
Smi/test/app0110.time -text
Smi/test/app0110R.cor -text
Smi/test/app0110R.stoch -text
Smi/test/app0110R.time -text
Smi/test/bug.cor -text
Smi/test/bug.stoch -text
Smi/test/bug.time -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
