* text=auto !eol
.ci/.travis.pre -text
.ci/appveyor.pre -text
.coin-or/projDesc.xml -text
/.travis.yml -text
/Dependencies -text
/INSTALL -text svneol=unset#application/octet-stream
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
Smi/AUTHORS -text
Smi/LICENSE -text
Smi/MSVisualStudio/v10/Smi.sln -text
Smi/MSVisualStudio/v10/Smi.vcxproj -text
Smi/MSVisualStudio/v10/exampleFlopcpp_Invest/ExampleFlopcpp_Invest.vcxproj -text
Smi/MSVisualStudio/v10/exampleFlopcpp_Trans/exampleFlopcpp_Trans.vcxproj -text
Smi/MSVisualStudio/v10/exampleSmi/exampleSmi.vcxproj -text
Smi/MSVisualStudio/v10/libSmi/libSmi.vcxproj -text
Smi/MSVisualStudio/v10/libflopc/libflopc.vcxproj -text
Smi/MSVisualStudio/v10/unitTestSmi/unitTestSmi.vcxproj -text
Smi/MSVisualStudio/v9/Smi.sln -text
Smi/MSVisualStudio/v9/exampleFlopcpp_Invest/exampleFlopcpp_Invest.vcproj -text
Smi/MSVisualStudio/v9/exampleFlopcpp_Transp/exampleFlopcpp_Transp.vcproj -text
Smi/MSVisualStudio/v9/exampleSmi/exampleSmi.vcproj -text
Smi/MSVisualStudio/v9/libSmi/smiLib.vcproj -text
Smi/MSVisualStudio/v9/unitTestSmi/app0110.cor -text
Smi/MSVisualStudio/v9/unitTestSmi/app0110.stoch -text
Smi/MSVisualStudio/v9/unitTestSmi/app0110.time -text
Smi/MSVisualStudio/v9/unitTestSmi/app0110R.cor -text
Smi/MSVisualStudio/v9/unitTestSmi/app0110R.stoch -text
Smi/MSVisualStudio/v9/unitTestSmi/app0110R.time -text
Smi/MSVisualStudio/v9/unitTestSmi/bug.cor -text
Smi/MSVisualStudio/v9/unitTestSmi/bug.stoch -text
Smi/MSVisualStudio/v9/unitTestSmi/bug.time -text
Smi/MSVisualStudio/v9/unitTestSmi/bug_gen.mps -text
Smi/MSVisualStudio/v9/unitTestSmi/smiUnitTest.vcproj -text
Smi/Makefile.am -text
Smi/Makefile.in -text
Smi/README -text
Smi/config.guess -text
Smi/config.sub -text
Smi/configure -text
Smi/configure.ac -text
Smi/depcomp -text
Smi/doxydoc/doxygen.conf.in -text
Smi/examples/Makefile.in -text
Smi/examples/investment.cpp -text
Smi/examples/stoch.cpp -text
Smi/flopcpp_examples/Makefile.in -text
Smi/flopcpp_examples/corenode_base.cpp -text
Smi/flopcpp_examples/corenode_base.hpp -text
Smi/flopcpp_examples/ex_invest.cpp -text
Smi/flopcpp_examples/ex_transp.cpp -text
Smi/flopcpp_examples/flop-smi_methods.cpp -text
Smi/flopcpp_examples/flop-smi_methods.hpp -text
Smi/flopcpp_examples/investment/investment.cpp -text
Smi/flopcpp_examples/scen-tree_struct.cpp -text
Smi/flopcpp_examples/scen-tree_struct.hpp -text
Smi/install-sh -text
Smi/ltmain.sh -text
Smi/missing -text
Smi/smi-uninstalled.pc.in -text
Smi/smi.pc.in -text
Smi/src/.cproject -text
Smi/src/.project -text
Smi/src/Makefile.am -text
Smi/src/Makefile.in -text
Smi/src/SmiConfig.h -text
Smi/src/SmiDiscreteDistribution.cpp -text
Smi/src/SmiMessage.cpp -text
Smi/src/SmiMessage.hpp -text
Smi/src/SmiQuadratic.hpp -text
Smi/src/config.h.in -text
Smi/src/config_smi.h.in -text
Smi/src/config_smi_default.h -text
Smi/test/.cproject -text
Smi/test/.project -text
Smi/test/Makefile.am -text
Smi/test/Makefile.in -text
Smi/test/SmiTestData/app0110.cor -text
Smi/test/SmiTestData/app0110.stoch -text
Smi/test/SmiTestData/app0110.time -text
Smi/test/SmiTestData/app0110R.cor -text
Smi/test/SmiTestData/app0110R.stoch -text
Smi/test/SmiTestData/app0110R.time -text
Smi/test/SmiTestData/bug.cor -text
Smi/test/SmiTestData/bug.stoch -text
Smi/test/SmiTestData/bug.time -text
/appveyor.yml -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
