* text=auto !eol
/INSTALL -text svneol=unset#application/octet-stream
/Makefile -text svneol=unset#application/octet-stream
/Makefile.Smi -text svneol=unset#application/octet-stream
Test/Makefile -text svneol=unset#application/octet-stream
Test/Makefile.test -text svneol=unset#application/octet-stream
include/SmiScenarioTree.hpp -text svneol=unset#application/octet-stream
include/SmiScnData.hpp -text svneol=unset#application/octet-stream
include/SmiScnModel.hpp -text svneol=unset#application/octet-stream
